.appInfo {
  height: 100vh;
  background: #fff;
}

div > h2 {
  padding: 16px 0;
}

.containerInfoPerfume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoPerfumePercent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
  background-color: var(--primary-color);
  color: #fff;
  padding: 8px 12px;
  margin: 8px 0;
  line-height: 30px;
  border-radius: 12px;
  border: none;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

.activateLed {
  display: flex;
  padding: 4px;
}