.App {
  height: 100vh;
  background: var(--primary-color);
}

.form {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
}

.inputForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputForm input {
  padding: 8px 12px;
  margin: 8px 0;
  line-height: 30px;
  border-radius: 12px;
  border: 1px solid #878787;
  outline: none;
  box-sizing: border-box;
  color: #878787;
}

.inputForm input::placeholder {
  opacity: 0.5;
}

.inputButton {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
}

button {
  padding: 8px 12px;
  margin: 8px 0;
  line-height: 30px;
  border-radius: 12px;
  border: none;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

.buttonLogin{
  background-color: var(--button-color);
  color: #fff;
  padding: 8px 12px;
  margin: 8px 0;
  line-height: 30px;
  border-radius: 12px;
  border: none;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

.btnLogin {
  width: 100%;
}

.buttonSignup{
  background-color: var(--button-color);
  color: #fff;
}


