body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #EA591C;
  --button-color: #1EACB7;

  --perfume-color-1: #FF6384;
  --perfume-color-2: #36A2EB;
  --perfume-color-3: #FFCE56;
  --perfume-color-4: #7522f4;
  --perfume-color-5: #3222f4;
}
